camera_cal.m
denoise.m
create_image_grid.m
image_segmentation.m
undistorted_image.png
morph_shapes.png
colour_shapes_input_segmented.png
colour_shapes_segmented.png
red_shapes_camera.png
red_shapes_labelled.png
reprojection_errors.svg
speck1_denoised_grid.png
speck1_ssim.png
speck2_denoised_grid.png
speck2_ssim.png
